<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="DeviceContainer">
        <!--逗号前面是接口类型的完全限定名：命名空间+接口名称，逗号后面是DLL文件的名称 name解决同一个接口不同实例问题-->
        <register type="DeviceConnector.Core.IDviceModule,DeviceConnector.Core" mapTo="DeviceConnector.Devices.OpcDaDeviceModule,DeviceConnector.Devices" name="OpcDA"/>
        <register type="DeviceConnector.Core.IDviceModule,DeviceConnector.Core" mapTo="DeviceConnector.Devices.OpcUaDeviceModule,DeviceConnector.Devices" name="OpcUA"/>
      </container>
      <container name="ConnectorContainer">
        <register type="DeviceConnector.Core.IMessageBus,DeviceConnector.Core" mapTo="DeviceConnector.Connectors.SignalrMessageBus,DeviceConnector.Connectors" name="SignalR"/>
        <register type="DeviceConnector.Core.IMessageBus,DeviceConnector.Core" mapTo="DeviceConnector.Connectors.MqttMessageBus,DeviceConnector.Connectors" name="MQTT"/>
      </container>

    </containers>
  </unity>
</configuration>